.DeleteCart-main{
    width: 100%;
    height: 100%;
    background-color: transparent;

}
.DeleteCart{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%,-50%);
    width: 60vh;
    height: 60vh;
    background-color: red;
}